a{
    text-decoration: none;
}


a:hover {
    color: red;
    text-decoration: underline;
}

a:visited {
    color: purple;
}

button{
    background-color:cornflowerblue;
    border: none;
    width: 70px;
    height:25px;
    border-radius: 12.50px;
    font-size: 11px;
    cursor: pointer;
}
button:hover{
    background-color:aquamarine
}
