body{
    text-align: center;
}

ul li{
    color: aliceblue;
    background-color: darkblue;
}

#home{
    color: darkred;
    background-color: brown;
}

#about{
    color: darkred;
    background-color: brown;
}


#contact{
    color: darkred;
    background-color: brown;
}