*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.qr-card {
    background-color: #ffffff; 
    border-radius: 15px; 
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2); 
    padding: 15px;
    text-align: center;
    width: 320px;
}


.qr-image {

    width: 100%;
    border-radius: 10px;
}


.content h1 {
    font-size: 18px;
    color: #1f3251; /* Darker text color */
    margin-bottom: 15px;
}

.content p {
    font-size: 15px;
    color: #7b879d; /* Light gray text */
    line-height: 1.4;
    padding: 0 10px;
}